@model WebApplication6.Models.Klienci

@{
    ViewData["Title"] = "Edycja";
}

<h1>Edycja</h1>

<h4>Tabela</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel" class="control-label"></label>
                <input asp-for="Pesel" class="form-control" maxlength="11" minlength="11" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            @try
            {
                string pesel = Model.Pesel;
                string BirthYear = pesel.Substring(0, 2);
                string BirthMilenium = pesel.Substring(2, 2);
                string Plec = pesel.Substring(pesel.Length - 2, 1);
                if (Convert.ToInt16(BirthMilenium) > 12)
                {
                    <div class="form-group">
                        <label asp-for="BirthYear" class="control-label"></label>
                        <input asp-for="BirthYear" class="form-control" value="@Convert.ToInt16("20" + BirthYear)" readonly/>
                        <span asp-validation-for="BirthYear" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="BirthYear" class="control-label"></label>
                        <input asp-for="BirthYear" class="form-control" value="@Convert.ToInt16("19" + BirthYear)" readonly/>
                        <span asp-validation-for="BirthYear" class="text-danger"></span>
                    </div>
                }
                if (Convert.ToInt16(Plec) % 2 == 0)
                {
                    <div class="form-group">
                        <label asp-for="Płeć" class="control-label"></label>
                        <input asp-for="Płeć" class="form-control" value="0" readonly/>
                        <span asp-validation-for="Płeć" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="Płeć" class="control-label"></label>
                        <input asp-for="Płeć" class="form-control" value="1" readonly/>
                        <span asp-validation-for="Płeć" class="text-danger"></span>
                    </div>
                }
                
            }
            catch (Exception e)
            {
                <div class="form-group">
                    <label asp-for="BirthYear" class="control-label"></label>
                    <input asp-for="BirthYear" class="form-control"/>
                    <span asp-validation-for="BirthYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Płeć" class="control-label"></label>
                    <input asp-for="Płeć" class="form-control"/>
                    <span asp-validation-for="Płeć" class="text-danger"></span>
                </div>
                
            }
            <div class="form-group">
                <input type="submit" value="Edytuj klienta" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
